*.swp
*.swo
*~
.DS_Store
build/*
.arduino-data/
.tools/
linnstrument-firmware.sublime-*
stino.settings

.vscode/
archives/
release/*
!release/
!release/linnstrument-firmware-2.3.4-x6.bin

.build-staging/
